@import 'tailwindcss';

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-v32-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-v32-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-v32-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-v32-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/nunito-v32-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/figtree-v9-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/figtree-v9-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/figtree-v9-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/figtree-v9-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Figtree';
  src: url('/fonts/figtree-v9-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-v44-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-v44-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-v44-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-v44-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans-v44-latin-800.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Nunito', sans-serif;
  --font-figtree: 'Figtree', sans-serif;
  --font-open-sans: 'Open Sans', sans-serif;

  --color-purple-1: #444df2;
  --color-purple-2: #797ef3;
  --color-purple-3: #535af1;
  --color-error: #ed1e79;
  --color-purple-dark: #313ae5;
  --color-light-purple: #adb0d9;
  --color-bg: #eceefe;
  --color-text-gray: #686868;
  --color-menu: #42526e;
  --color-online: #92c83e;

  --text-display: 2.875rem;
  --text-display--line-height: 1.2;
  --text-display--font-weight: 700;

  --shadow-header: 0 2px 10px #00000014;
  --shadow-nav: 4px 4px 7px 0 #00000033;

  --animate-intro-logo: intro-logo 0.3s ease-out 0.5s both;
  --animate-intro-name: intro-name 0.5s ease-out 0.8s both;

  @keyframes intro-logo {
    from {
      transform: translateX(2.04em);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes intro-name {
    from {
      transform: translateX(-5.3em);
    }
    to {
      transform: translateX(0);
    }
  }
}

body {
  margin: 0;
  min-width: 320px;
  background-color: var(--color-bg);
  font-family: var(--font-sans);
}
